<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Silex App</title>
    <!-- The best place for this one is your <HEAD> tag -->
<script>UPLOADCARE_PUBLIC_KEY = "121545454521";</script>
<script src="https://ucarecdn.com/widget/2.10.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>

  </head>
  <body>
    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </body>
</html>
